@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;600&family=Jomhuria&display=swap');


:root{
    --color-primary:#1E1E1E ;
    --color-secondary:#F2F1EF ;
    --color-non-primary: #D9D9D9;
    --color-hover:#000000 ;
    --header-font: 'Jomhuria', serif;
    --navbar-font: 'JetBrains Mono', monospace;
}
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: var(--color-secondary);
}

a{
    text-decoration: none;
}

@media (max-width: 960px){

}

@media (max-width: 500px) {
    
}