---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
const posts = await Astro.glob("../posts/designs/*.md");
---

<Layout title="Designs">
  <section>
    <div class="design-container">
      {
        posts.map((post) => (
          <>
            <div class="design-cnt">
              <div class="design-img">
                <Picture
                  src={post.frontmatter.imagePath}
                  width={400}
                  height={350}
                  alt="design-img"
                  loading="lazy"
                  format="wabp"
                />
              </div>
            </div>
          </>
        ))
      }
    </div>
  </section>
</Layout>

<style lang="scss">
  .design-container {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 auto;
    padding: 20px;

    .design-cnt {
      width: fit-content;
      border: 2px solid #000;
      flex-direction: column;
      background: #000;
      transition: transform 0.6s;
      cursor: pointer;
    }
    .design-cnt:hover {
      transform: scale(1.02);
    }
  }

  @media (max-width: 1200px) {
    .design-container {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 800px) {
    .design-container {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 600px) {
    .design-container {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 500px) {
    .design-container {
      grid-template-columns: 1fr;
    }
  }
</style>
