---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";

const posts = await Astro.glob("../posts/projects/*.md");
---

<Layout title="Projects">
  <div class="project-container">
    {
      posts.map((post) => (
        <a href={post.frontmatter.link} target="_blank" class="project-box">
          <div class="project-img">
            <Picture
              width={300}
              height={300}
              alt="project-img"
              src={post.frontmatter.imagePath}
              loading="lazy"
              class="img"
              format="wabp"
            />
          </div>
          <div class="project-cnt">
            <div class="project-ti-dis">
              <h3>{post.frontmatter.title}</h3>
              <p>{post.frontmatter.description}</p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .project-container {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 auto;
    padding: 10px;

    a {
      color: #000;
      transition: transform 0.6s;
    }
    a:hover {
      transform: scale(1.02);
    }

    .project-box {
      margin-top: 20px;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      border: 2px solid #000;

      .project-img {
        width: 100%;
        display: flex;
        justify-content: center;

        .img {
          width: 100%;
        }
      }

      .project-cnt {
        width: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #000;

        .project-ti-dis {
          margin-top: 20px;
          margin-left: 10px;
          margin-right: 10px;
          height: auto;
          h1 {
            opacity: 0.8;
          }
          p {
            opacity: 0.8;
          }
        }
      }

      a {
        width: 74px;
        height: 74px;
        background-color: var(--color-primary);
        font-size: large;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;

        .icon {
          width: 30px;
          height: 30px;
          color: #fff;
        }
      }

      a:hover {
        background: var(--color-hover);
      }
    }
  }

  @media (max-width: 960px) {
    .project-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 10px;
      margin: 0 auto;
      padding: 10px;
    }
  }
  @media (max-width: 800px) {
    .project-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 10px;
      margin: 0 auto;
      padding: 10px;
    }
  }
  @media (max-width: 600px) {
    .project-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 10px;
      margin: 0 auto;
      padding: 10px;
    }
  }
  @media (max-width: 500px) {
    .project-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 10px;
      margin: 0 auto;
      padding: 10px;
    }
  }
</style>
