<footer>
  <div class="english"><p>English</p></div>
  <div class="arr"><p>All Right Recieved</p></div>
  <div class="year"><p>@2023</p></div>
</footer>

<style lang="scss">
  footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-size: 0.7rem;
    width: 100%;

    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .english {
      border-right: 2px solid #000;
    }
    .arr {
      border-right: 2px solid #000;
    }

    @media (max-width: 960px) {
    }

    @media (max-width: 500px) {
      // display: none;
    }
  }
</style>
