---
import { Image } from "astro:assets";
import Hero_img from "../assets/hero-banner.png";
import { Icon } from "astro-icon";
---

<section>
  <div class="main-div">
    <div class="hero-section">
      <Image class="hero-img" src={Hero_img} alt="Hero-banner" />
    </div>
    <div class="desktop-container">
      <div class="contact-section">
        <div class="info">
          <p>I'm a</p>
          <p>Developer/Designer</p>
        </div>
      </div>
      <div class="description">
        <p class="col-1">"Dreaming up ideas and making them</p>
        <p class="col-2">come true is where my passion lies."</p>
      </div>
      <div class="contact-links">
        <h1>Contact @</h1>
        <a href="/"><Icon class="icon" name="mdi:account" /></a>
        <a href="https://github.com/heyanik" target="_blank"
          ><Icon class="icon" name="mdi:github" /></a
        >
        <a href="https://www.linkedin.com/in/anikdaspartha/"
          ><Icon class="icon" name="mdi:linkedin" /></a
        >
        <a href="mailto:anikdaspartha58@gmail.com"
          ><Icon class="icon" name="mdi:email" /></a
        >
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    width: 100%;
    .main-div {
      display: flex;
    }
    .hero-section {
      .hero-img {
        width: 1000px;
        height: auto;
      }
    }

    .desktop-container {
      width: 100%;
    }
    .contact-section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      font-size: 2rem;
      font-weight: bolder;
      background-color: var(--color-non-primary);
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
    }
    .description {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 200px;
      font-size: 1.5rem;
      font-weight: bolder;
      color: #fff;
      background-color: var(--color-hover);
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
    }

    .contact-links {
      height: 243px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-non-primary);
      border-left: 2px solid #000;
      .icon {
        color: #000;
        width: 40px;
        transition: all 0.5s ease-in-out;
      }

      .icon:hover {
        color: rgb(167, 86, 86);
      }
      h1 {
        text-transform: uppercase;
      }
    }

    @media (max-width: 1280px) {
      .main-div {
        .hero-section {
          display: flex;
          align-items: center;
          justify-content: center;
          .hero-img {
            width: 800px;
          }
        }
      }
    }

    @media (max-width: 960px) {
      .main-div {
        flex-direction: column;

        .hero-section {
          .hero-img {
            width: 100%;
          }
        }

        .contact-section {
          border-left: none;
        }
        .description {
          border-left: none;
        }

        .contact-links {
          border-left: none;
        }
      }
    }

    @media (max-width: 500px) {
      .main-div {
        flex-direction: column;

        .hero-section {
          .hero-img {
            width: 100%;
          }
        }

        .contact-section {
          font-size: 1.5rem;
          border-left: none;
        }
        .description {
          font-size: 1.2rem;
          border-left: none;
        }

        .contact-links {
          border-left: none;
        }
      }
    }
  }
</style>
